.themeSwitcher {
  padding: 20px;
}

.article {
  padding: 20px;
}

.light {
  background-color: white;
  color: black;
}

.dark {
  background-color: black;
  color: white;
}

.pink {
  background-color: pink;
  color: magenta;
}

